body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

h1,
h2,
h3,
h4,
p,
label {
  color: #eedb00;
  font-family: 'Pathway Gothic One', sans-serif;
}

header {
  text-align: center;
  margin-top: 50px;
}
ul {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.main-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-header {
  text-align: center;
}

label,
input,
select,
button,
p {
  font-size: 20px;
}

label {
  font-weight: 600;
}

button {
  margin-left: 10px;
}
